name: CI

on:
  push:
    branches:
      - main

env:
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Get commit hash
        shell: bash
        run: |
          echo "BUILD_TAG=${LAST_COMMIT_SHA:0:7}" >> $BUILD_SHA

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: "${{ env.DOCKERHUB_USERNAME }}"
          password: "${{ env.DOCKERHUB_PASSWORD }}"

      - name: Build Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: "${{ env.DOCKERHUB_USERNAME }}/myapp:${{ github.sha }}"
          build-arg: BUILD_SHA=${{ env.BUILD_SHA }}


      - name: Push Docker image to DockerHub
        uses: docker/build-push-action@v2
        with:
          tags: "${{ env.DOCKERHUB_USERNAME }}/myapp:${{ github.sha }}"
